/dts-v1/;
/plugin/;

/ {
	fragment@0 {
		target = <&spi3>;

		__overlay__ {
			status = "okay";
			spi-max-frequency = <40000000>;

			ili9486@0 {
				compatible = "ilitek,ili9486";
				reg = <0>;
				spi-max-frequency = <40000000>;
				rotate = <270>;
				fps = <30>;
				bgr;
				buswidth = <8>;
				regwidth = <16>;
				reset-gpios = <&pio 4 5 0x1>;
				dc-gpios = <&pio 4 6 0x0>;
				backlight = <&backlight>;
				status = "okay";

				display-timings {
					native-mode = <&timing0>;
					timing0: timing0 {
						clock-frequency = <6400000>;
						hactive = <320>;
						vactive = <480>;
						hfront-porch = <10>;
						hback-porch = <10>;
						hsync-len = <5>;
						vfront-porch = <10>;
						vback-porch = <10>;
						vsync-len = <2>;
					};
				};
			};

			xpt2046@1 {
				compatible = "ti,ads7846";
				reg = <1>;
				spi-max-frequency = <250000>;
				interrupt-parent = <&pio>;
				interrupts = <10 23 0x4>;
				pendown-gpios = <&pio 10 23 0x1>;
				ti,x-plate-ohms = <0x3c>;
				touchscreen-max-pressure = <0xff>;
				touchscreen-inverted-x;
				touchscreen-swapped-x-y;
				touchscreen-size-x = <320>;
				touchscreen-size-y = <480>;
				status = "okay";
			};
		};
	};
};
