[Desktop Entry]
Version=1.0
Type=Application
Name=Calibrate Touch - HDMI Mode
Comment=Calibrate touch so it maps to the full HDMI desktop
Exec=/home/orangepi/touch-calib.sh cal hdmi
Terminal=true
Categories=Settings;HardwareSettings;
